<h1>Contact me</h1>

<h3>Getting in touch is easy!</h3>

<text>
    <b>
    Reach out to me on
    <a href="https://www.linkedin.com/in/mohd-sohaib-230374273/" target="_blank">Linkedin</a>
    or send me an  <a href="mailto:shoaibqu7714@gmail.com?Subject=This is a subject" target="_blank">Email</a>
    </b>

</text>

 